<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    
    <div id="app">
        <h1>email list</h1>
        <ul v-if="EmailRandom.length === 10">
            <li v-for="mail in EmailRandom">
                <a :href="`mailto:${mail}`">
                    {{ mail }}
                </a>
            </li>
        </ul>
        <div v-else>Loading.....</div>
    </div>



    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- js -->
    <script src="./js/main.js"></script>
</body>
</html>